<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt.Net-Next" version="2.1.2" targetFramework="xamarinios10" />
  <package id="CarouselView.FormsPlugin" version="5.2.0" targetFramework="xamarinios10" />
  <package id="DLToolkit.Forms.Controls.FlowListView" version="2.0.10" targetFramework="xamarinios10" />
  <package id="Npgsql" version="3.2.6" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Forms.CustomReturnEntry" version="4.0.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.280555" targetFramework="xamarinios10" />
</packages>